---
---

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2 {
  clear: left;
}

ul {
  padding-left: 0;
}

li {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 1.333;
  list-style-type: none;
  margin-left: 0;
  @media screen and (max-width: 800px) {
    margin-bottom: 24px;
  }
}

nav li {
  float: left;
  margin-right: 32px;
  margin-bottom: 0;
  &:last-of-type {
    margin-right: 0;
    margin-bottom: 24px;
  }
  @media screen and (max-width: 800px) {
    margin-right: 0;
    &::after {
      content: "\a0\b7\a0";
    }
    &:last-of-type::after {
      content: "";
    }
  }
}

aside {
  font-style: italic;
}

a {
  text-decoration: none;
  &:hover, &:active, &:visited {
    text-decoration: underline;
  }
}

#back-to-top {
  color: deeppink;
}
