---
---

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen {
  .print {
    display: none;
  }
}

@media print {
  .screen {
    display: none;
  }
}

h1, h2 {
  clear: left;
}

ul {
  padding-left: 0;
}

li {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 1.333;
  list-style-type: none;
  margin-left: 0;
  @media screen and (max-width: 800px) {
    margin-bottom: 24px;
  }
}

nav li {
  float: left;
  margin-right: 32px;
  margin-bottom: 0;
  &:last-of-type {
    margin-right: 0;
    margin-bottom: 24px;
  }
  @media screen and (max-width: 800px) {
    margin-right: 0;
    &::after {
      content: "\a0\b7\a0";
    }
    &:last-of-type::after {
      content: "";
    }
  }
}

a {
  text-decoration: none;
  &:hover, &:active, &:visited {
    text-decoration: underline;
  }
}

#back-to-top {
  color: deeppink;
}




/* Style for the resume page. */

.resume {
  font-family: Helvetica, Arial, sans-serif;

  h1 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 8px;
    &:first-of-type {
      margin-top: 24px;
    }
  }

  h2 {
    margin-bottom: 4px;
    margin-top: 24px;
    letter-spacing: 1px;
    &:first-of-type {
      margin-top: 12px;
    }
  }

  aside {
    margin-bottom: 8px;
    font-size: 16px;
    &.title {
      margin-top: 8px;
    }
  }

  h2, aside.title {
    font-size: 18px;
  }
  
  p {
    font-size: 14px;
  }

  section {
    float: left;
    clear: none;
    padding-left: 0;
    padding-right: 0;
  }

  img.profile {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
  }

  #identity {
    width: 34%;
    text-align: center;
    position: fixed;
    top: 10;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    p {
      &.name {
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
  }

  #main {
    width: 66%;
    margin-left: 34%; // plays nicely with fixed-width identity
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
    p {
      text-align: justify;
      margin-top: 12px;
    }
  }

  @media print {
    h1 {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 800px) {
    h1 {
      font-size: 24px;
    }
    #identity, #main {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    #main {
      margin-left: 0;
    }
    #identity {
      position: relative;
    }
  }
}
