---
---

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page {
  padding: 0 15px;
  max-width: 400px;
  text-align: justify;
  background-color: white;
}

@media screen {
  .print {
    display: none;
  }
}

@media print {
  .screen {
    display: none;
  }
}

h1, h2 {
  clear: left;
  color: #18AFB4;
}

ul {
  padding-left: 0;
}

li {
  margin-bottom: 18px;
  margin-left: 0;
  font-size: 18px;
  line-height: 1.333;
  list-style-type: none;
  @media screen and (max-width: 800px) {
    margin-bottom: 24px;
  }
}

nav li {
  float: left;
  margin-right: 32px;
  margin-bottom: 0;
  &:last-of-type {
    margin-right: 0;
    margin-bottom: 24px;
  }
  @media screen and (max-width: 800px) {
    margin-right: 0;
    &::after {
      content: "\a0\b7\a0";
    }
    &:last-of-type::after {
      content: "";
    }
  }
}

a {
  text-decoration: none;
  &:hover, &:active, &:visited {
    text-decoration: underline;
  }
}

p {
  line-height: 1.4;
}

#back-to-home {
  color: deeppink;
}
