<% provide(:title, 'John Shutt') %>
<div id='homepage'>
	<h1>
		John Shutt
	</h1>
	<p>
    Writer/coder. Amateur human being. If you need me, go to the backyard of Zeitgeist and shout my name.
	</p>
  <div>
    <div class = 'contact'>
      <a href = 'https://www.github.com/pemulis'>github</a> | <a href = 'https://www.twitter.com/jdshutt'>twitter</a> | <a href = 'http://www.goodreads.com/johnshutt'>goodreads</a> | <%= link_to "writing", page_path("writing") %> | <%= link_to "resume", page_path("resume") %> | <a href = 'mailto:john.d.shutt@gmail.com'>e-mail</a>
    </div>
  </div>
</div>
