<% provide(:title, "John Shutt's Resume") %>
	<div class='resume'>
		<h1>JOHN DANIEL SHUTT</h1>
    <aside>
      Ruby on Rails Developer
    </aside>
		<h2>Work Experience</h2>
			<h3>Margin Scratch &nbsp;|&nbsp; Lead Developer</h3>
				<p><em>November 2012 - Present </em></p>
				<p>Working on open source projects relating to reading, archives, and annotation.</p>
      <h3>Wishpop &nbsp;|&nbsp; Content Director</h3>
        <p><em>June 2012 - November 2012</em></p>
				<p>Directed the design and development of mobile educational games for kids. Plus a bit of short story writing, coding, recruiting, interviewing, UX design, systems administration, and whatever else needed to be done at this early-stage startup.</p>
				<p>
					<a href = 'http://wishpop.com'>wishpop.com</a>
				</p>
      <h3>Exec &nbsp;|&nbsp; Exec</h3>
        <p><em>May 2012</em></p>
        <p>
          Freelance assistant for startups and individuals in San Francisco through Exec.
        </p>
        <p>
          <a href = 'http://www.iamexec.com'>iamexec.com</a>
        </p>
      <h3>Radial Works Media &nbsp;|&nbsp; Writer/Editor</h3>
        <p><em>February 2012 - May 2012</em></p>
        <p>
          Author, editor, and promoter for an experimental e-publishing cooperative.
        </p>
        <p>
          <a href = 'http://www.radialworksmedia.com'>radialworksmedia.com</a>
        </p>
      <h3>EditYourStuff.com &nbsp;|&nbsp; Freelance Editor</h3>
			<p><em>November 2011 - May 2012</em></p>
				<p>
          Provided developmental editing, copy editing, and critiquing services to novelists and short story writers. Designed and built the website.
        </p>
        <p>
          <a href = 'http://www.edityourstuff.com'>edityourstuff.com</a>
        </p>
      <h3>MadSwag, LLC &nbsp;|&nbsp; Co-Founder</h3>
        <p><em>December 2010 - April 2012</em></p>
        <p>
          Designed and built a website that runs free sports prediction brackets. Drew the original 'napkin sketch' and developed the business plan. Used HTML, CSS, and jQuery to build the front-end and Linux, Apache, MySQL, and PHP to build the back-end. Did direct marketing to small businesses, door-to-door and over the phone.
        </p>
        <p>
          <a href = 'https://github.com/pemulis/madswag'>code on github</a>
        </p>
      <h3>Hubze, Inc. &nbsp;|&nbsp; Web Developer</h3>
        <p><em>March 2011 - June 2011</em></p>
        <p>
          Contributed to the Facebook FanPageEngine and iFrameEngine, using a variety of web languages and external APIs. Worked directly with the CEO, front-end and back-end developers, web designers, and customer support team to fix specific problems as they arose.
        </p>
        <p>
          <a href = 'http://www.hubze.com'>hubze.com</a>
        </p>
      <h3>Planet Halo &nbsp;|&nbsp; News and Content Director</h3>
        <p><em>April 2002 - August 2005</em></p>
        <p>
          Led the content team for Planet Halo, now part of the IGN network. Wrote and edited news and content, directed a team of writers and moderators, and administered a large internet forum community. Grew the site to 1,000,000+ unique weekly front-page visitors and 100,000+ weekly forum visitors at its peak.
        </p>
        <p>
          <a href = 'http://planethalo.gamespy.com'>planethalo.gamespy.com</a>
        </p>
    <h2>Education</h2>
      <h3>Florida State University</h3>
        <p><em>June 2007 - July 2011</em></p>
        <p>
          B.A. in creative writing (major) and Japanese (minor). Member of the Phi Eta Sigma and Golden Key International Honors Societies. Placed multiple times on the Dean's List and President's List. Chess club and crew team member.
        </p>
      <h3>Downingtown East High School</h3>
        <p><em>August 2002 - June 2007</em></p>
        <p>
          Senior achievement awards for web design, computer science (shared), and Japanese. Columnist for the school newspaper. Member of the rugby team. Wrote, directed, and acted in plays performed by the theater department.
        </p>
    <h2>Skills</h2>
      <h3>Technology</h3>
        <ul>
          <li>Ruby/Rails</li>
					<li>MySQL and Postgres</li>
          <li>PHP</li>
          <li>A Little Bit of Python</li>
          <li>HTML</li>
          <li>CSS/SASS</li>
          <li>jQuery</li>
          <li>Linux</li>
          <li>Vim</li>
          <li>Heroku and AWS</li>
					<li>GIMP</li>
					<li>OmniGraffle</li>
        </ul>
    <p class = 'bottomlinks'>
			<a href = 'mailto:john.d.shutt@gmail.com'>e-mail me</a> | <%= link_to "return home", root_url %>
    </p>
	</div>
