<% provide(:title, "John Shutt's Resume") %>
	<div class='resume'>
		<h1>JOHN DANIEL SHUTT</h1>
    <aside>
      Engineering and Other Things 
    </aside>
		<h2>Work Experience</h2>
      <h3>Westward Leaning &nbsp;|&nbsp; Lead Web Developer</h3>
        <p><em>October 2013 - Present</em></p>
        <p>Lead development of Westward Leaning's ecommerce storefront (built on Shopify) and various internal technology projects. Worked in tandem with our CEO, Senior VP of Design, and Ecommerce Director to build the site, and hired and trained a junior developer.</p>
        <p>
          <a href='http://westwardleaning.com'>westwardleaning.com</a>
        <p>
      <h3>BayLeaks &nbsp;|&nbsp; Co-Founder</h3>
        <p><em>January 2014 - Present</em></p>
        <p>Built an independent whistleblowing system for the San Francisco Bay Area with local journalists using SecureDrop and helped train journalists in digital security.</p>
        <p>
          <a href='https://bayleaks.com'>bayleaks.com</a>
        <p>
			<h3>Independent &nbsp;|&nbsp; Technologist</h3>
				<p><em>November 2012 - Present </em></p>
        <p>Working on open source projects relating to archives, cryptography, privacy, and hackerspaces, and doing limited contract work for startups in the Bay Area.</p>
        <p>
          <a href='https://github.com/pemulis'>see some of my projects on github!</a>
        </p>
      <h3>Pemulis Books &nbsp;|&nbsp; Proprietor</h3>
        <p><em>March 2013 - August 2013</em></p>
        <p>Running a pop-up micro-bookstore in secret locations throughout San Francisco.</p>
      <h3>Wishpop &nbsp;|&nbsp; Content Director</h3>
        <p><em>June 2012 - November 2012</em></p>
				<p>Directed the design and development of mobile educational games for kids. Plus a bit of short story writing, coding, recruiting, interviewing, UX design, systems administration, and whatever else needed to be done at this early-stage startup.</p>
				<p>
					<a href = 'http://wishpop.com'>wishpop.com</a>
				</p>
      <h3>MadSwag, LLC &nbsp;|&nbsp; Co-Founder</h3>
        <p><em>December 2010 - April 2012</em></p>
        <p>
          Designed and built a PHP application to run free sports prediction games for bars and restaurants.
        </p>
        <p>
          <a href = 'https://github.com/pemulis/madswag'>code on github</a>
        </p>
      <h3>Hubze, Inc. &nbsp;|&nbsp; Web Developer</h3>
        <p><em>March 2011 - June 2011</em></p>
        <p>
          Helped build and debug tools for small businesses to create and manage Facebook fan pages.
        </p>
        <p>
          <a href = 'http://www.hubze.com'>hubze.com</a>
        </p>
    <h2>Some Tools I Like to Use</h2>
      <ul>
        <li>JavaScript</li>
        <li>Ruby on Rails</li>
        <li>HTML/CSS/SASS</li>
        <li>Bootstrap</li>
        <li>Vim</li>
        <li>Git</li>
      </ul>
    <p class = 'bottomlinks'>
			<a href = 'mailto:john.d.shutt@gmail.com'>e-mail me</a> | <%= link_to "return home", root_url %>
    </p>
	</div>
